@{
    ViewData["Title"] = "Ceny doradztwa";
}
    <!-- Page Heading/Breadcrumbs -->
<div style="height:700px">
    <h1 class="mt-4 mb-3">
        Ceny doradztwa
    </h1>
    <hr />
    <h4 class="mb-4">Nasze ceny zwykle wahają się w granicach 300-400 zł / godz. Cena uzależniona od zakresu zadania.</h4>

    <h5 class="mb-2">Ogólnie możemy zaoferować następujące karty tnące:</h5>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h3 class="card-header">10 Godzin</h3>
                <div class="card-body">
                    <div class="display-4">375 zł</div>
                    <div class="font-italic">za godzine</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Wycinana karta obejmuje wszystkie nasze usługi i może służyć m.in.</li>
                    <li class="list-group-item">Excel, programowanie VBA, PowerPivot, analiza danych, przetwarzanie danych itp.</li>
                    <li class="list-group-item">Karta cięta jest fakturowana przy zawarciu umowy i jest ważna przez dwa miesiące od tej daty.</li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-primary">Zamów</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card card-outline-primary h-100">
                <h3 class="card-header bg-primary text-white">20 Godzin</h3>
                <div class="card-body">
                    <div class="display-4">350 zł</div>
                    <div class="font-italic">za godzine</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Wycinana karta obejmuje wszystkie nasze usługi i może służyć m.in.</li>
                    <li class="list-group-item">Excel, programowanie VBA, PowerPivot, analiza danych, przetwarzanie danych itp.</li>
                    <li class="list-group-item">Karta cięta jest fakturowana przy zawarciu umowy i jest ważna przez dwa miesiące od tej daty.</li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-primary">Zamów</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h3 class="card-header">50 Godzin</h3>
                <div class="card-body">
                    <div class="display-4">300 zł</div>
                    <div class="font-italic">za godzine</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Wycinana karta obejmuje wszystkie nasze usługi i może służyć m.in.</li>
                    <li class="list-group-item">Excel, programowanie VBA, PowerPivot, analiza danych, przetwarzanie danych itp.</li>
                    <li class="list-group-item">Karta cięta jest fakturowana przy zawarciu umowy i jest ważna przez dwa miesiące od tej daty.</li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-primary">Zamów</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->