@{
    ViewData["Title"] = "Home Page";
}

<h1 class="my-4">
    Robimy wszystko w Excelu
</h1>
<h5 class="my-4">
    Niezależnie od tego, czy potrzebujesz tylko napisać jedną formułę, czy raczej szukasz większego, zautomatyzowanego rozwiązania, jesteśmy gotowi z zespołem silnych konsultantów.
</h5>

<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">VBA</h4>
            <div class="card-body">
                <p class="card-text">Dzięki programowaniu w języku VBA można zautomatyzować program Excel w celu wykonywania obliczeń i przetwarzania danych, które normalnie wymagałoby godzin pracy użytkownika w programie Excel.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Zobacz Więcej</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">PowerPivot</h4>
            <div class="card-body">
                <p class="card-text">
                    Nadal stosunkowo niewielu wie o PowerPivot i PowerBI. Dlatego zawsze jesteśmy gotowi aby opracować konfigurację PowerPivot / PowerBI, tak aby korzystanie z narzędzi było przyjemnością w obsłudze.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Zobacz Więcej</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">Dashboards</h4>
            <div class="card-body">
                <p class="card-text">
                    Wiele firm ma duże ilości danych, które nie są wykorzystywane aktywnie, ponieważ nie ma ogólnego przeglądu. Możemy pomóc oczyścić Twoje dane i zebrać je w jednym arkuszu Excela z pulpitem nawigacyjnym.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Zobacz Więcej</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Portfolio Section -->
<h2>Portfolio Heading</h2>

<div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Project One</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Project Two</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Project Three</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Project Four</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Project Five</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Project Six</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Features Section -->
<div class="row">
    <div class="col-lg-6">
        <h2>Modern Business Features</h2>
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
            <li>
                <strong>Bootstrap v4</strong>
            </li>
            <li>jQuery</li>
            <li>Font Awesome</li>
            <li>Working contact form with validation</li>
            <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Call to Action Section -->
<div class="row mb-4">
    <div class="col-md-8">
        <p>
            Praktycznie wszystko można zaprogramować i zautomatyzować w Excel / VBA. To znaczy że otrzymujesz    rozwiązanie zgodne z głową klienta. Oznacza to również, że nie musisz zmieniać przepływów pracy, aby dostosować się do nowego systemu informatycznego. To system informatyczny dostosowany do Twojego biznesu.
        </p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-lg btn-primary btn-block" asp-area="" asp-controller="Home" asp-action="Contact">Napisz do Nas</a>
    </div>
</div>