
@{
    ViewData["Title"] = "Not Found";
}

<div style="height:725px; max-height: 100%; overflow: auto; text-align:center;"; >
    <h1 class="mt-5">@ViewBag.ErrorMessage</h1>

    <a href="/" class="btn btn-primary mt-5">Wróć do strony głównej</a>
</div>
