<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('media/carousel/1.jpg');">
            <div class="carousel-caption d-none d-md-block">
                <h3>Zautomatyzowane rozwiązania w Excelu</h3>
                <p>Zawieramy wieloletnie doświadczenie w dostarczaniu zautomatyzowanych rozwiązań dla dużych i małych firm.</p>
            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('media/carousel/2.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3>Pulpity nawigacyjne - Dashboards</h3>
                <p>Dzięki dynamicznemu pulpitowi nawigacyjnemu oszczędzasz również koszty tworzenia raportów i analiz danych za każdym razem, gdy chcesz spojrzeć na dane z innej perspektywy.</p>
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('media/carousel/3.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3>PowerPivot</h3>
                <p>
                    Dzięki PowerPivot możesz pracować z Big Data w programie Excel oraz dynamicznie śledzić swoje dane na wszystkich platformach - np. Smartfonie i tablecie. Zarządzanie informacjami nigdy nie było łatwiejsze i inteligentniejsze w obsłudze.
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>